<!DOCTYPE html>
<html lang="en">
<%- include('./Parttials/head.ejs') %>
<body>
    <%- include('./Parttials/nav.ejs') %>
    <h1 class="text-center" > <FontAwesomeIcon icon="fa-solid fa-address-card">This is the about</h1>
    <p>This is the about page contents</p>
    <p>This is my first blog </p>
    <p>This is the Blog page content</p>
    <h1>This is the Blog page</h1>
    <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
    <% const name= 'Macharia'  %>
    <p>This is the Blog page content</p>
    <% const name= 'Macharia'  %>
    <p>This is the Blog page content</p>
    <p>This is the Blog page content</p>
    <% const name= 'Macharia'  %>
    <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div></div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>  <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div> <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div> <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div> <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div> <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>v <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div> <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div> <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div> <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div> <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div> <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div> <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div> <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div> <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div> <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div><div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
      </div>
  </div></div>
</div>
</div>

</div>

</body>
</html>