<!DOCTYPE html>
<html lang="en">
<%- include('./parttials/head.ejs') %>
<body>
 <%- include('./Parttials/nav.ejs') %>
 <h1 class="text-center" > <FontAwesomeIcon icon="fa-solid fa-address-card" />This is the contact page</h1>

 <div class="row g-3">
    <div class="col">
      <input type="text" class="form-control" placeholder="Name" aria-label="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
    </div>
  </div>
</body>
</html>