<!DOCTYPE html>
<html lang="en">
<%- include('./parttials/head.ejs') %>
<body>
 <%- include('./Parttials/nav.ejs') %>
 <h1 class="text-center" > <FontAwesomeIcon icon="fa-solid fa-address-card">This is the home page</h1>
    <div class="row g-3">
      <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
        <div class="col">
          <% const name= 'Macharia'  %>
          <input type="text" class="form-control" placeholder="Name" aria-label="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
        </div>
      </div>
      <input type="text" class="form-control" placeholder="Name" aria-label="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
    </div>
  </div>
  <input type="text" class="form-control" placeholder="Name" aria-label="First name">
</div>
<div class="col">
  <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div>
</div>
<div class="col">
  <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div></div>
<div class="col">
  <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div>
<div class="col">
  <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div></div>
<div class="col">
  <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div><div class="col">
  <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div></div>
<div class="col">
  <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div>
<div class="col">
  <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div>
<div class="col">
  <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div><div class="col">
  <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div>
<input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div><div class="col">
  <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div>
<input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div><div class="col">
  <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div>
<input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div><div class="col">
  <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div>
<input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div><div class="col">
  <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div>
<input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div><div class="col">
  <input type="text" class="form-control" placeholder="Email" aria-label="Last name">
</div>
</div>
</div>
</div>

</div>
    <p>This tis the homepage contents </p>
    <h1>This is the home page</h1>
    <% const name= 'Macharia'  %>
    <% const name= 'Macharia'  %>
    <p>This is the Blog page content</p>
    <p>This is the Blog page content</p>
    <p>This tis the homepage contents </p>
    <p>This is the Blog page content</p>
    <h1>This is the Blog page</h1>
    <% const name= 'Macharia'  %>
    <p>This is the Blog page content</p>
    <% const name= 'Macharia'  %>
</body>
</html>