<!DOCTYPE html>
<html lang="en">
<%- include('./parttials/head.ejs') %>
<body>

    <% const name= 'Macharia'  %>
    <h1>This is the home page</h1>
    <p>This tis the homepage contents </p>
    <%= name%>
</body>
</html>