<!DOCTYPE html>
<html lang="en">
<%- include('./parttials/head.ejs') %>
<body>

    <% const name= 'Macharia'  %>
    <h1>This is the Portfolio page</h1>
    <p>This is the Portfolio page content</p>
    <%= name%>
</body>
</html>