<nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <a class="navbar-brand">KenTech</a>

    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../blog">Blogs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../Portforlio">Portfolio</a>
      </li>
    </ul>
    <form class="d-flex">
      <button
        type="button"
        class="btn btn-primary position-relative d-flex flex-row-reverse bd-highlight"
      >
        Inbox
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          5+
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
      <button
        type="button"
        class="btn btn-primary position-relative d-flex flex-row-reverse bd-highlight"
      >
        Inbox
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          5+
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
      <button
        type="button"
        class="btn btn-primary position-relative d-flex flex-row-reverse bd-highlight"
      >
        Inbox
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          5+
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
      <button
        type="button"
        class="btn btn-primary position-relative d-flex flex-row-reverse bd-highlight"
      >
        Inbox
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          5+
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
      <button
        type="button"
        class="btn btn-primary position-relative d-flex flex-row-reverse bd-highlight"
      >
        Inbox
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          5+
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
      <button
        type="button"
        class="btn btn-primary position-relative d-flex flex-row-reverse bd-highlight"
      >
        Inbox
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          5+
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
      <button
        type="button"
        class="btn btn-primary position-relative d-flex flex-row-reverse bd-highlight"
      >
        Inbox
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          5+
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
      <button
        type="button"
        class="btn btn-primary position-relative d-flex flex-row-reverse bd-highlight"
      >
        Inbox
        <span
          class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        >
          5+
          <span class="visually-hidden">unread messages</span>
        </span>
      </button>
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
