<nav class="navbar navbar-light bg-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand">KenTech</a>
      <form class="d-flex">
        <button type="button"  class="btn btn-primary position-relative d-flex flex-row-reverse bd-highlight">
            Inbox
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              5+
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
